{% extends 'mainpage/index.html' %}
{% load static %}
{% block content %}

<div class="container-xl">

    <nav>{% include "mainpage/navbar.html" %}</nav>

    <div class="row align-items-center">
        <div class="col-6 align-self-center text-right">
            <img class="profile_picture" src="{% static '/images/me.jpg' %}" alt="Picture about me">
        </div>
        <div class="col-6 align-self-center text-left">
            <div class="about_me_column"><h2 class="h2welcome"> Hi! 👨🏻‍💻</h2><br>
                <h2>Csaba Fügedi</h2>
                <p class="pwelcome">University Student<br>IT Programmer</p>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6 align-self-center text-center">
            <div class="about_me_column">
                <hr class="hredit">
                <h3 class="h3hide">Content about me</h3>
                <p class="tuns">Tesztelés auto deplyoban</p>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    {% include "mainpage/photopage.html" %}

</div>

{% endblock %}