{% load static %}
<hr class="hredit">
<h1 class="h1edit">Pictures of my fractals</h1>
<hr class="hredit">
<table class="table table-dark table-hover">
    <tr>
        <td class="tdedit">
            <img class="picture" src="static/images/fractals/1.jpg" alt="Picture#1">
            <div class="picture-txt">
                <a href="/viewer">Amazing Surf 2 - Fractal form</a>
                <br>
                <hr class="picture_hr">
                <a class="picture_caption">This fractal is made by Mandelbuld3D</a>
            </div>
        </td>
        <td class="tdedit">
            <img class="picture" src="static/images/fractals/4.png" alt="Picture#1">
            <div class="picture-txt">
                <a href="/viewer">OctoKoch - Fractal form</a>
                <br>
                <hr class="picture_hr">
                <a class="picture_caption">This fractal is made by Mandelbuld3D</a>
            </div>
        </td>

        <td class="tdedit">
            <img class="picture" src="static/images/fractals/6.png" alt="Picture#1">
            <div class="picture-txt">
                <a href="/viewer">DodecahedronIFS - Fractal form</a>
                <br>
                <hr class="picture_hr">
                <a class="picture_caption">This fractal is made by Mandelbuld3D</a>
            </div>
        </td>
    </tr>
</table>
